<?xml version="1.0" encoding="utf-8"?>
<TEditorSettings>
	<Components>
		<TEditorToolSettings Name="ToolSettings">
			<Components>
				<TAlignLinesSettings Name="AlignLinesSettings">
					<RemoveWhiteSpace>true</RemoveWhiteSpace>
					<KeepSpaceBeforeToken>true</KeepSpaceBeforeToken>
					<KeepSpaceAfterToken>true</KeepSpaceAfterToken>
					<Tokens>(TStringList)
						<DefinedProperties>
						B1N0cmluZ3MBBgEnBgEtBgItLQYBIgYBIwYBJQYCKCoGASoGAiopBgEsBgEuBgIvLwYBOgYCOj0G
						ATsGAUAGAXsGAXwGAX0GASsGAjw8BgE9BgI+PgYDYW5kBgJhcwYCaW4GAm9yBgRyZWFkBgV3cml0
						ZQA=
						</DefinedProperties>
					</Tokens>
					<Width>359</Width>
				</TAlignLinesSettings>
				<TCodeFilterSettings Name="CodeFilterSettings">
					<FormSettings>(TFormSettings)
						<Left>537</Left>
						<Top>256</Top>
						<Width>623</Width>
						<Height>523</Height>
						<FormStyle>fsNormal</FormStyle>
						<WindowState>wsNormal</WindowState>
					</FormSettings>
				</TCodeFilterSettings>
				<THTMLViewSettings Name="HTMLViewSettings"/>
				<TSortStringsSettings Name="SortStringsSettings">
					<SortScope>ssWords</SortScope>
				</TSortStringsSettings>
				<TMiniMapSettings Name="MiniMapSettings">
					<Width>332</Width>
				</TMiniMapSettings>
				<THexEditorSettings Name="HexEditorSettings">
					<Width>658</Width>
				</THexEditorSettings>
				<TSearchEngineSettings Name="SearchSettings">
					<Options>[ssoMatchCase,ssoRegExpr]</Options>
				</TSearchEngineSettings>
				<TCodeShaperSettings Name="CodeShaperSettings"/>
			</Components>
		</TEditorToolSettings>
		<THighlighters Name="Highlighters">
			<Components>
				<THighlighterItem Name="TXT">
					<Highlighter>TXT</Highlighter>
					<FormatterSupport>false</FormatterSupport>
					<FileExtensions>me,nfo,txt</FileExtensions>
					<Description>Tekst document</Description>
				</THighlighterItem>
				<THighlighterItem Name="PAS">
					<Components>
						<TSynPasSyn Name="SynHighlighter">
							<Enabled>false</Enabled>
							<AsmAttri>(TSynHighlighterAttributes)
								<FrameEdges>sfeAround</FrameEdges>
							</AsmAttri>
							<CommentAttri>(TSynHighlighterAttributes)
								<Foreground>clGray</Foreground>
								<FrameEdges>sfeAround</FrameEdges>
							</CommentAttri>
							<IDEDirectiveAttri>(TSynHighlighterAttributesModifier)
								<Foreground>clOlive</Foreground>
								<FrameEdges>sfeAround</FrameEdges>
								<Style>[fsBold]</Style>
							</IDEDirectiveAttri>
							<IdentifierAttri>(TSynHighlighterAttributes)
								<FrameEdges>sfeAround</FrameEdges>
							</IdentifierAttri>
							<KeyAttri>(TSynHighlighterAttributes)
								<Foreground>clBlue</Foreground>
								<FrameEdges>sfeAround</FrameEdges>
							</KeyAttri>
							<NumberAttri>(TSynHighlighterAttributes)
								<Foreground>clRed</Foreground>
								<FrameEdges>sfeAround</FrameEdges>
								<Style>[fsBold,fsItalic]</Style>
							</NumberAttri>
							<SpaceAttri>(TSynHighlighterAttributes)
								<FrameEdges>sfeAround</FrameEdges>
							</SpaceAttri>
							<StringAttri>(TSynHighlighterAttributes)
								<Foreground>clGreen</Foreground>
								<FrameEdges>sfeAround</FrameEdges>
								<Style>[fsBold]</Style>
							</StringAttri>
							<SymbolAttri>(TSynHighlighterAttributes)
								<Foreground>clRed</Foreground>
								<FrameEdges>sfeAround</FrameEdges>
								<Style>[fsBold]</Style>
							</SymbolAttri>
							<CaseLabelAttri>(TSynHighlighterAttributesModifier)
								<FrameEdges>sfeAround</FrameEdges>
							</CaseLabelAttri>
							<DirectiveAttri>(TSynHighlighterAttributes)
								<Foreground>clOlive</Foreground>
								<FrameEdges>sfeAround</FrameEdges>
								<Style>[fsBold]</Style>
							</DirectiveAttri>
							<CompilerMode>pcmDelphi</CompilerMode>
							<NestedComments>false</NestedComments>
						</TSynPasSyn>
					</Components>
					<Highlighter>PAS</Highlighter>
					<BlockCommentStartTag>{</BlockCommentStartTag>
					<BlockCommentEndTag>}</BlockCommentEndTag>
					<LineCommentTag>//</LineCommentTag>
					<FormatterSupport>false</FormatterSupport>
					<FileExtensions>dpk,dpr,inc,lpr,pas,pp</FileExtensions>
					<Description>Object Pascal</Description>
				</THighlighterItem>
				<THighlighterItem Name="SQL">
					<Components>
						<TSynSQLSyn Name="SynHighlighter">
							<DefaultFilter>SQL Files (*.sql)|*.sql</DefaultFilter>
							<Enabled>false</Enabled>
							<CommentAttri>(TSynHighlighterAttributes)
								<Foreground>clGray</Foreground>
								<FrameEdges>sfeAround</FrameEdges>
							</CommentAttri>
							<DataTypeAttri>(TSynHighlighterAttributes)
								<FrameEdges>sfeAround</FrameEdges>
								<Style>[]</Style>
							</DataTypeAttri>
							<DefaultPackageAttri>(TSynHighlighterAttributes)
								<FrameEdges>sfeAround</FrameEdges>
							</DefaultPackageAttri>
							<ExceptionAttri>(TSynHighlighterAttributes)
								<FrameEdges>sfeAround</FrameEdges>
							</ExceptionAttri>
							<FunctionAttri>(TSynHighlighterAttributes)
								<FrameEdges>sfeAround</FrameEdges>
							</FunctionAttri>
							<IdentifierAttri>(TSynHighlighterAttributes)
								<FrameEdges>sfeAround</FrameEdges>
							</IdentifierAttri>
							<KeyAttri>(TSynHighlighterAttributes)
								<Foreground>clBlue</Foreground>
								<FrameEdges>sfeAround</FrameEdges>
							</KeyAttri>
							<NumberAttri>(TSynHighlighterAttributes)
								<Foreground>clRed</Foreground>
								<FrameEdges>sfeAround</FrameEdges>
								<Style>[fsBold,fsItalic]</Style>
							</NumberAttri>
							<PLSQLAttri>(TSynHighlighterAttributes)
								<Foreground>clBlue</Foreground>
								<FrameEdges>sfeAround</FrameEdges>
							</PLSQLAttri>
							<SpaceAttri>(TSynHighlighterAttributes)
								<FrameEdges>sfeAround</FrameEdges>
							</SpaceAttri>
							<SQLPlusAttri>(TSynHighlighterAttributes)
								<FrameEdges>sfeAround</FrameEdges>
								<Style>[]</Style>
							</SQLPlusAttri>
							<StringAttri>(TSynHighlighterAttributes)
								<Foreground>clGreen</Foreground>
								<FrameEdges>sfeAround</FrameEdges>
								<Style>[fsBold]</Style>
							</StringAttri>
							<SymbolAttri>(TSynHighlighterAttributes)
								<Foreground>clRed</Foreground>
								<FrameEdges>sfeAround</FrameEdges>
								<Style>[fsBold]</Style>
							</SymbolAttri>
							<TableNameAttri>(TSynHighlighterAttributes)
								<FrameEdges>sfeAround</FrameEdges>
							</TableNameAttri>
							<TableNames>(TStringList)</TableNames>
							<VariableAttri>(TSynHighlighterAttributes)
								<FrameEdges>sfeAround</FrameEdges>
							</VariableAttri>
							<SQLDialect>sqlSybase</SQLDialect>
						</TSynSQLSyn>
					</Components>
					<Highlighter>SQL</Highlighter>
					<BlockCommentStartTag>/*</BlockCommentStartTag>
					<BlockCommentEndTag>*/</BlockCommentEndTag>
					<LineCommentTag>--</LineCommentTag>
					<FormatterSupport>false</FormatterSupport>
					<FileExtensions>sql</FileExtensions>
					<Description>SQL</Description>
				</THighlighterItem>
				<THighlighterItem Name="XML">
					<Components>
						<TSynXMLSyn Name="SynHighlighter">
							<DefaultFilter>XML Document (*.xml,*.xsd,*.xsl,*.xslt,*.dtd)|*.xml;*.xsd;*.xsl;*.xslt;*.dtd</DefaultFilter>
							<Enabled>false</Enabled>
							<ElementAttri>(TSynHighlighterAttributes)
								<Foreground>clNone</Foreground>
								<FrameEdges>sfeAround</FrameEdges>
								<Style>[]</Style>
							</ElementAttri>
							<AttributeAttri>(TSynHighlighterAttributes)
								<Foreground>clNone</Foreground>
								<FrameEdges>sfeAround</FrameEdges>
							</AttributeAttri>
							<NamespaceAttributeAttri>(TSynHighlighterAttributes)
								<Foreground>clNone</Foreground>
								<FrameEdges>sfeAround</FrameEdges>
							</NamespaceAttributeAttri>
							<AttributeValueAttri>(TSynHighlighterAttributes)
								<Foreground>clNone</Foreground>
								<FrameEdges>sfeAround</FrameEdges>
								<Style>[]</Style>
							</AttributeValueAttri>
							<NamespaceAttributeValueAttri>(TSynHighlighterAttributes)
								<Foreground>clNone</Foreground>
								<FrameEdges>sfeAround</FrameEdges>
								<Style>[]</Style>
							</NamespaceAttributeValueAttri>
							<TextAttri>(TSynHighlighterAttributes)
								<Foreground>clNone</Foreground>
								<FrameEdges>sfeAround</FrameEdges>
								<Style>[]</Style>
							</TextAttri>
							<CDATAAttri>(TSynHighlighterAttributes)
								<Foreground>clNone</Foreground>
								<FrameEdges>sfeAround</FrameEdges>
								<Style>[]</Style>
							</CDATAAttri>
							<EntityRefAttri>(TSynHighlighterAttributes)
								<FrameEdges>sfeAround</FrameEdges>
							</EntityRefAttri>
							<ProcessingInstructionAttri>(TSynHighlighterAttributes)
								<Foreground>clOlive</Foreground>
								<FrameEdges>sfeAround</FrameEdges>
								<Style>[fsBold]</Style>
							</ProcessingInstructionAttri>
							<CommentAttri>(TSynHighlighterAttributes)
								<Background>clNone</Background>
								<FrameEdges>sfeAround</FrameEdges>
								<Style>[,fsItalic]</Style>
							</CommentAttri>
							<DocTypeAttri>(TSynHighlighterAttributes)
								<Foreground>clNone</Foreground>
								<FrameEdges>sfeAround</FrameEdges>
								<Style>[]</Style>
							</DocTypeAttri>
							<SpaceAttri>(TSynHighlighterAttributes)
								<FrameEdges>sfeAround</FrameEdges>
							</SpaceAttri>
							<SymbolAttri>(TSynHighlighterAttributes)
								<Foreground>clRed</Foreground>
								<FrameEdges>sfeAround</FrameEdges>
								<Style>[fsBold]</Style>
							</SymbolAttri>
							<WantBracesParsed>false</WantBracesParsed>
						</TSynXMLSyn>
					</Components>
					<Highlighter>XML</Highlighter>
					<BlockCommentStartTag>??? !--</BlockCommentStartTag>
					<BlockCommentEndTag>--???</BlockCommentEndTag>
					<FormatterSupport>false</FormatterSupport>
					<FileExtensions>compileddproj,docm,docx,dotm,dotx,fpc,groupproj,hgl,lpi,lpk,lps,potm,potx,ppam,ppsm,ppsx,pptm,pptx,sgml,svg,template,vsdm,vsdx,vssm,vssx,vstm,vstx,xlam,xlsm,xlsx,xltm,xltx,xml</FileExtensions>
					<Description>XML document</Description>
				</THighlighterItem>
				<THighlighterItem Name="LFM">
					<Components>
						<TSynLFMSyn Name="SynHighlighter">
							<DefaultFilter>Lazarus Form Files (*.lfm)|*.lfm</DefaultFilter>
							<Enabled>false</Enabled>
							<CommentAttri>(TSynHighlighterAttributes)
								<Foreground>clGray</Foreground>
								<FrameEdges>sfeAround</FrameEdges>
							</CommentAttri>
							<IdentifierAttri>(TSynHighlighterAttributes)
								<FrameEdges>sfeAround</FrameEdges>
							</IdentifierAttri>
							<KeyAttri>(TSynHighlighterAttributes)
								<FrameEdges>sfeAround</FrameEdges>
								<Style>[]</Style>
							</KeyAttri>
							<NumberAttri>(TSynHighlighterAttributes)
								<Foreground>clRed</Foreground>
								<FrameEdges>sfeAround</FrameEdges>
								<Style>[fsBold,fsItalic]</Style>
							</NumberAttri>
							<SpaceAttri>(TSynHighlighterAttributes)
								<FrameEdges>sfeAround</FrameEdges>
							</SpaceAttri>
							<StringAttri>(TSynHighlighterAttributes)
								<Foreground>clGreen</Foreground>
								<FrameEdges>sfeAround</FrameEdges>
								<Style>[fsBold]</Style>
							</StringAttri>
						</TSynLFMSyn>
					</Components>
					<Highlighter>LFM</Highlighter>
					<FormatterSupport>false</FormatterSupport>
					<FileExtensions>dfm,lfm</FileExtensions>
					<Description>Object Pascal form definitie</Description>
				</THighlighterItem>
				<THighlighterItem Name="BAT">
					<Components>
						<TSynBatSyn Name="SynHighlighter">
							<DefaultFilter>MS-DOS Batch Files (*.bat;*.cmd)|*.bat;*.cmd</DefaultFilter>
							<Enabled>false</Enabled>
							<CommentAttri>(TSynHighlighterAttributes)
								<Foreground>clGray</Foreground>
								<FrameEdges>sfeAround</FrameEdges>
							</CommentAttri>
							<IdentifierAttri>(TSynHighlighterAttributes)
								<FrameEdges>sfeAround</FrameEdges>
							</IdentifierAttri>
							<KeyAttri>(TSynHighlighterAttributes)
								<FrameEdges>sfeAround</FrameEdges>
								<Style>[]</Style>
							</KeyAttri>
							<NumberAttri>(TSynHighlighterAttributes)
								<Foreground>clRed</Foreground>
								<FrameEdges>sfeAround</FrameEdges>
								<Style>[fsBold,fsItalic]</Style>
							</NumberAttri>
							<SpaceAttri>(TSynHighlighterAttributes)
								<FrameEdges>sfeAround</FrameEdges>
							</SpaceAttri>
							<VariableAttri>(TSynHighlighterAttributes)
								<Foreground>clNone</Foreground>
								<FrameEdges>sfeAround</FrameEdges>
							</VariableAttri>
						</TSynBatSyn>
					</Components>
					<Highlighter>BAT</Highlighter>
					<LineCommentTag>::</LineCommentTag>
					<FormatterSupport>false</FormatterSupport>
					<FileExtensions>bat,cmd</FileExtensions>
					<Description>Windows batch script</Description>
				</THighlighterItem>
				<THighlighterItem Name="PO">
					<Components>
						<TSynPoSyn Name="SynHighlighter">
							<DefaultFilter>Po Files (*.po)|*.po</DefaultFilter>
							<Enabled>false</Enabled>
							<CommentAttri>(TSynHighlighterAttributes)
								<Foreground>clGray</Foreground>
								<FrameEdges>sfeAround</FrameEdges>
							</CommentAttri>
							<TextAttri>(TSynHighlighterAttributes)
								<FrameEdges>sfeAround</FrameEdges>
							</TextAttri>
							<KeyAttri>(TSynHighlighterAttributes)
								<Foreground>clNone</Foreground>
								<FrameEdges>sfeAround</FrameEdges>
								<Style>[]</Style>
							</KeyAttri>
							<SpaceAttri>(TSynHighlighterAttributes)
								<FrameEdges>sfeAround</FrameEdges>
							</SpaceAttri>
						</TSynPoSyn>
					</Components>
					<Highlighter>PO</Highlighter>
					<LineCommentTag>#</LineCommentTag>
					<FormatterSupport>false</FormatterSupport>
					<FileExtensions>po</FileExtensions>
					<Description>Gettext translation strings</Description>
				</THighlighterItem>
				<THighlighterItem Name="CPP">
					<Components>
						<TSynCppSyn Name="SynHighlighter">
							<DefaultFilter>C++ Files (*.c,*.cpp,*.h,*.hpp,*.hh)|*.c;*.cpp;*.h;*.hpp;*.hh</DefaultFilter>
							<Enabled>false</Enabled>
							<AsmAttri>(TSynHighlighterAttributes)
								<FrameEdges>sfeAround</FrameEdges>
							</AsmAttri>
							<CommentAttri>(TSynHighlighterAttributes)
								<Foreground>clGray</Foreground>
								<FrameEdges>sfeAround</FrameEdges>
							</CommentAttri>
							<DirecAttri>(TSynHighlighterAttributes)
								<Foreground>clOlive</Foreground>
								<FrameEdges>sfeAround</FrameEdges>
								<Style>[fsBold]</Style>
							</DirecAttri>
							<IdentifierAttri>(TSynHighlighterAttributes)
								<FrameEdges>sfeAround</FrameEdges>
							</IdentifierAttri>
							<InvalidAttri>(TSynHighlighterAttributes)
								<FrameEdges>sfeAround</FrameEdges>
							</InvalidAttri>
							<KeyAttri>(TSynHighlighterAttributes)
								<Foreground>clBlue</Foreground>
								<FrameEdges>sfeAround</FrameEdges>
							</KeyAttri>
							<NumberAttri>(TSynHighlighterAttributes)
								<Foreground>clRed</Foreground>
								<FrameEdges>sfeAround</FrameEdges>
								<Style>[fsBold,fsItalic]</Style>
							</NumberAttri>
							<SpaceAttri>(TSynHighlighterAttributes)
								<FrameEdges>sfeAround</FrameEdges>
							</SpaceAttri>
							<StringAttri>(TSynHighlighterAttributes)
								<Foreground>clGreen</Foreground>
								<FrameEdges>sfeAround</FrameEdges>
								<Style>[fsBold]</Style>
							</StringAttri>
							<SymbolAttri>(TSynHighlighterAttributes)
								<Foreground>clRed</Foreground>
								<FrameEdges>sfeAround</FrameEdges>
								<Style>[fsBold]</Style>
							</SymbolAttri>
						</TSynCppSyn>
					</Components>
					<Highlighter>CPP</Highlighter>
					<BlockCommentStartTag>/*</BlockCommentStartTag>
					<BlockCommentEndTag>*/</BlockCommentEndTag>
					<LineCommentTag>//</LineCommentTag>
					<FormatterSupport>false</FormatterSupport>
					<FileExtensions>cpp,h,hpp</FileExtensions>
					<Description>C++</Description>
				</THighlighterItem>
				<THighlighterItem Name="JAVA">
					<Components>
						<TSynJavaSyn Name="SynHighlighter">
							<DefaultFilter>Java Files (*.java)|*.java</DefaultFilter>
							<Enabled>false</Enabled>
							<AnnotationAttri>(TSynHighlighterAttributes)
								<FrameEdges>sfeAround</FrameEdges>
							</AnnotationAttri>
							<CommentAttri>(TSynHighlighterAttributes)
								<Foreground>clGray</Foreground>
								<FrameEdges>sfeAround</FrameEdges>
							</CommentAttri>
							<DocumentAttri>(TSynHighlighterAttributes)
								<Foreground>clGray</Foreground>
								<FrameEdges>sfeAround</FrameEdges>
							</DocumentAttri>
							<IdentifierAttri>(TSynHighlighterAttributes)
								<FrameEdges>sfeAround</FrameEdges>
							</IdentifierAttri>
							<InvalidAttri>(TSynHighlighterAttributes)
								<FrameEdges>sfeAround</FrameEdges>
							</InvalidAttri>
							<KeyAttri>(TSynHighlighterAttributes)
								<Foreground>clBlue</Foreground>
								<FrameEdges>sfeAround</FrameEdges>
							</KeyAttri>
							<NumberAttri>(TSynHighlighterAttributes)
								<Foreground>clRed</Foreground>
								<FrameEdges>sfeAround</FrameEdges>
								<Style>[fsBold,fsItalic]</Style>
							</NumberAttri>
							<SpaceAttri>(TSynHighlighterAttributes)
								<FrameEdges>sfeAround</FrameEdges>
							</SpaceAttri>
							<StringAttri>(TSynHighlighterAttributes)
								<Foreground>clGreen</Foreground>
								<FrameEdges>sfeAround</FrameEdges>
								<Style>[fsBold]</Style>
							</StringAttri>
							<SymbolAttri>(TSynHighlighterAttributes)
								<Foreground>clRed</Foreground>
								<FrameEdges>sfeAround</FrameEdges>
								<Style>[fsBold]</Style>
							</SymbolAttri>
						</TSynJavaSyn>
					</Components>
					<Highlighter>JAVA</Highlighter>
					<BlockCommentStartTag>/*</BlockCommentStartTag>
					<BlockCommentEndTag>*/</BlockCommentEndTag>
					<LineCommentTag>//</LineCommentTag>
					<FormatterSupport>false</FormatterSupport>
					<FileExtensions>java</FileExtensions>
					<Description>Java</Description>
				</THighlighterItem>
				<THighlighterItem Name="PERL">
					<Components>
						<TSynPerlSyn Name="SynHighlighter">
							<DefaultFilter>Perl Files (*.pl,*.pm,*.cgi)|*.pl;*.pm;*.cgi</DefaultFilter>
							<Enabled>false</Enabled>
							<CommentAttri>(TSynHighlighterAttributes)
								<Foreground>clGray</Foreground>
								<FrameEdges>sfeAround</FrameEdges>
							</CommentAttri>
							<IdentifierAttri>(TSynHighlighterAttributes)
								<FrameEdges>sfeAround</FrameEdges>
							</IdentifierAttri>
							<InvalidAttri>(TSynHighlighterAttributes)
								<FrameEdges>sfeAround</FrameEdges>
							</InvalidAttri>
							<KeyAttri>(TSynHighlighterAttributes)
								<Foreground>clBlue</Foreground>
								<FrameEdges>sfeAround</FrameEdges>
							</KeyAttri>
							<NumberAttri>(TSynHighlighterAttributes)
								<Foreground>clRed</Foreground>
								<FrameEdges>sfeAround</FrameEdges>
								<Style>[fsBold,fsItalic]</Style>
							</NumberAttri>
							<OperatorAttri>(TSynHighlighterAttributes)
								<Foreground>clRed</Foreground>
								<FrameEdges>sfeAround</FrameEdges>
								<Style>[fsBold]</Style>
							</OperatorAttri>
							<PragmaAttri>(TSynHighlighterAttributes)
								<FrameEdges>sfeAround</FrameEdges>
								<Style>[]</Style>
							</PragmaAttri>
							<SpaceAttri>(TSynHighlighterAttributes)
								<FrameEdges>sfeAround</FrameEdges>
							</SpaceAttri>
							<StringAttri>(TSynHighlighterAttributes)
								<Foreground>clGreen</Foreground>
								<FrameEdges>sfeAround</FrameEdges>
								<Style>[fsBold]</Style>
							</StringAttri>
							<SymbolAttri>(TSynHighlighterAttributes)
								<Foreground>clRed</Foreground>
								<FrameEdges>sfeAround</FrameEdges>
								<Style>[fsBold]</Style>
							</SymbolAttri>
							<VariableAttri>(TSynHighlighterAttributes)
								<FrameEdges>sfeAround</FrameEdges>
								<Style>[]</Style>
							</VariableAttri>
						</TSynPerlSyn>
					</Components>
					<Highlighter>PERL</Highlighter>
					<BlockCommentStartTag>/*</BlockCommentStartTag>
					<BlockCommentEndTag>*/</BlockCommentEndTag>
					<LineCommentTag>#</LineCommentTag>
					<FormatterSupport>false</FormatterSupport>
					<FileExtensions>pl</FileExtensions>
					<Description>Perl</Description>
				</THighlighterItem>
				<THighlighterItem Name="PY">
					<Components>
						<TSynPythonSyn Name="SynHighlighter">
							<DefaultFilter>Python Files (*.py)|*.py</DefaultFilter>
							<Enabled>false</Enabled>
							<CommentAttri>(TSynHighlighterAttributes)
								<FrameEdges>sfeAround</FrameEdges>
							</CommentAttri>
							<IdentifierAttri>(TSynHighlighterAttributes)
								<FrameEdges>sfeAround</FrameEdges>
							</IdentifierAttri>
							<KeyAttri>(TSynHighlighterAttributes)
								<Foreground>clBlue</Foreground>
								<FrameEdges>sfeAround</FrameEdges>
							</KeyAttri>
							<NonKeyAttri>(TSynHighlighterAttributes)
								<FrameEdges>sfeAround</FrameEdges>
							</NonKeyAttri>
							<SystemAttri>(TSynHighlighterAttributes)
								<FrameEdges>sfeAround</FrameEdges>
							</SystemAttri>
							<NumberAttri>(TSynHighlighterAttributes)
								<Foreground>clRed</Foreground>
								<FrameEdges>sfeAround</FrameEdges>
								<Style>[fsBold,fsItalic]</Style>
							</NumberAttri>
							<HexAttri>(TSynHighlighterAttributes)
								<Foreground>clNone</Foreground>
								<FrameEdges>sfeAround</FrameEdges>
							</HexAttri>
							<OctalAttri>(TSynHighlighterAttributes)
								<FrameEdges>sfeAround</FrameEdges>
							</OctalAttri>
							<FloatAttri>(TSynHighlighterAttributes)
								<Foreground>clFuchsia</Foreground>
								<FrameEdges>sfeAround</FrameEdges>
								<Style>[fsBold,fsItalic]</Style>
							</FloatAttri>
							<SpaceAttri>(TSynHighlighterAttributes)
								<FrameEdges>sfeAround</FrameEdges>
							</SpaceAttri>
							<StringAttri>(TSynHighlighterAttributes)
								<Foreground>clGreen</Foreground>
								<FrameEdges>sfeAround</FrameEdges>
								<Style>[fsBold]</Style>
							</StringAttri>
							<DocStringAttri>(TSynHighlighterAttributes)
								<Foreground>clGray</Foreground>
								<FrameEdges>sfeAround</FrameEdges>
								<Style>[,fsItalic]</Style>
							</DocStringAttri>
							<SymbolAttri>(TSynHighlighterAttributes)
								<Foreground>clRed</Foreground>
								<FrameEdges>sfeAround</FrameEdges>
								<Style>[fsBold]</Style>
							</SymbolAttri>
							<ErrorAttri>(TSynHighlighterAttributes)
								<FrameEdges>sfeAround</FrameEdges>
							</ErrorAttri>
						</TSynPythonSyn>
					</Components>
					<Highlighter>PY</Highlighter>
					<BlockCommentStartTag>/*</BlockCommentStartTag>
					<BlockCommentEndTag>*/</BlockCommentEndTag>
					<LineCommentTag>#</LineCommentTag>
					<FormatterSupport>false</FormatterSupport>
					<FileExtensions>py</FileExtensions>
					<Description>Python</Description>
				</THighlighterItem>
				<THighlighterItem Name="HTML">
					<Components>
						<TSynHTMLSyn Name="SynHighlighter">
							<DefaultFilter>HTML Document (*.htm,*.html)|*.htm;*.html</DefaultFilter>
							<Enabled>false</Enabled>
							<AndAttri>(TSynHighlighterAttributes)
								<FrameEdges>sfeAround</FrameEdges>
							</AndAttri>
							<ASPAttri>(TSynHighlighterAttributes)
								<Background>clNone</Background>
								<Foreground>clNone</Foreground>
								<FrameEdges>sfeAround</FrameEdges>
							</ASPAttri>
							<CDATAAttri>(TSynHighlighterAttributes)
								<Foreground>clNone</Foreground>
								<FrameEdges>sfeAround</FrameEdges>
							</CDATAAttri>
							<DOCTYPEAttri>(TSynHighlighterAttributes)
								<Background>clNone</Background>
								<Foreground>clNone</Foreground>
								<FrameEdges>sfeAround</FrameEdges>
								<Style>[]</Style>
							</DOCTYPEAttri>
							<CommentAttri>(TSynHighlighterAttributes)
								<Foreground>clGray</Foreground>
								<FrameEdges>sfeAround</FrameEdges>
								<Style>[,fsItalic]</Style>
							</CommentAttri>
							<IdentifierAttri>(TSynHighlighterAttributes)
								<FrameEdges>sfeAround</FrameEdges>
							</IdentifierAttri>
							<KeyAttri>(TSynHighlighterAttributes)
								<Foreground>clBlue</Foreground>
								<FrameEdges>sfeAround</FrameEdges>
							</KeyAttri>
							<SpaceAttri>(TSynHighlighterAttributes)
								<FrameEdges>sfeAround</FrameEdges>
							</SpaceAttri>
							<SymbolAttri>(TSynHighlighterAttributes)
								<Foreground>clRed</Foreground>
								<FrameEdges>sfeAround</FrameEdges>
							</SymbolAttri>
							<TextAttri>(TSynHighlighterAttributes)
								<FrameEdges>sfeAround</FrameEdges>
							</TextAttri>
							<UndefKeyAttri>(TSynHighlighterAttributes)
								<FrameEdges>sfeAround</FrameEdges>
							</UndefKeyAttri>
							<ValueAttri>(TSynHighlighterAttributes)
								<Foreground>clNone</Foreground>
								<FrameEdges>sfeAround</FrameEdges>
							</ValueAttri>
						</TSynHTMLSyn>
					</Components>
					<Highlighter>HTML</Highlighter>
					<BlockCommentStartTag>??? !--</BlockCommentStartTag>
					<BlockCommentEndTag>--???</BlockCommentEndTag>
					<FormatterSupport>false</FormatterSupport>
					<FileExtensions>htm,html</FileExtensions>
					<Description>HTML document</Description>
				</THighlighterItem>
				<THighlighterItem Name="JS">
					<Components>
						<TSynJScriptSyn Name="SynHighlighter">
							<Enabled>false</Enabled>
							<CommentAttri>(TSynHighlighterAttributes)
								<Foreground>clGray</Foreground>
								<FrameEdges>sfeAround</FrameEdges>
							</CommentAttri>
							<IdentifierAttri>(TSynHighlighterAttributes)
								<FrameEdges>sfeAround</FrameEdges>
							</IdentifierAttri>
							<KeyAttri>(TSynHighlighterAttributes)
								<Foreground>clBlue</Foreground>
								<FrameEdges>sfeAround</FrameEdges>
							</KeyAttri>
							<NonReservedKeyAttri>(TSynHighlighterAttributes)
								<FrameEdges>sfeAround</FrameEdges>
							</NonReservedKeyAttri>
							<EventAttri>(TSynHighlighterAttributes)
								<FrameEdges>sfeAround</FrameEdges>
							</EventAttri>
							<NumberAttri>(TSynHighlighterAttributes)
								<Foreground>clRed</Foreground>
								<FrameEdges>sfeAround</FrameEdges>
								<Style>[fsBold,fsItalic]</Style>
							</NumberAttri>
							<SpaceAttri>(TSynHighlighterAttributes)
								<FrameEdges>sfeAround</FrameEdges>
							</SpaceAttri>
							<StringAttri>(TSynHighlighterAttributes)
								<Foreground>clGreen</Foreground>
								<FrameEdges>sfeAround</FrameEdges>
								<Style>[fsBold]</Style>
							</StringAttri>
							<SymbolAttri>(TSynHighlighterAttributes)
								<Foreground>clRed</Foreground>
								<FrameEdges>sfeAround</FrameEdges>
								<Style>[fsBold]</Style>
							</SymbolAttri>
						</TSynJScriptSyn>
					</Components>
					<Highlighter>JS</Highlighter>
					<FormatterSupport>false</FormatterSupport>
					<FileExtensions>js</FileExtensions>
					<Description>JavaScript</Description>
				</THighlighterItem>
				<THighlighterItem Name="PHP">
					<Components>
						<TSynPHPSyn Name="SynHighlighter">
							<DefaultFilter>PHP Files (*.php,*.php3,*.phtml,*.inc)|*.php;*.php3;*.phtml;*.inc</DefaultFilter>
							<Enabled>false</Enabled>
							<CommentAttri>(TSynHighlighterAttributes)
								<Foreground>clGray</Foreground>
								<FrameEdges>sfeAround</FrameEdges>
							</CommentAttri>
							<IdentifierAttri>(TSynHighlighterAttributes)
								<FrameEdges>sfeAround</FrameEdges>
							</IdentifierAttri>
							<InvalidSymbolAttri>(TSynHighlighterAttributes)
								<FrameEdges>sfeAround</FrameEdges>
							</InvalidSymbolAttri>
							<KeyAttri>(TSynHighlighterAttributes)
								<Foreground>clBlue</Foreground>
								<FrameEdges>sfeAround</FrameEdges>
							</KeyAttri>
							<NumberAttri>(TSynHighlighterAttributes)
								<Foreground>clRed</Foreground>
								<FrameEdges>sfeAround</FrameEdges>
								<Style>[fsBold,fsItalic]</Style>
							</NumberAttri>
							<SpaceAttri>(TSynHighlighterAttributes)
								<FrameEdges>sfeAround</FrameEdges>
							</SpaceAttri>
							<StringAttri>(TSynHighlighterAttributes)
								<Foreground>clGreen</Foreground>
								<FrameEdges>sfeAround</FrameEdges>
								<Style>[fsBold]</Style>
							</StringAttri>
							<SymbolAttri>(TSynHighlighterAttributes)
								<Foreground>clRed</Foreground>
								<FrameEdges>sfeAround</FrameEdges>
								<Style>[fsBold]</Style>
							</SymbolAttri>
							<VariableAttri>(TSynHighlighterAttributes)
								<FrameEdges>sfeAround</FrameEdges>
							</VariableAttri>
						</TSynPHPSyn>
					</Components>
					<Highlighter>PHP</Highlighter>
					<FormatterSupport>false</FormatterSupport>
					<FileExtensions>php</FileExtensions>
					<Description>PHP</Description>
				</THighlighterItem>
				<THighlighterItem Name="CSS">
					<Components>
						<TSynCssSyn Name="SynHighlighter">
							<DefaultFilter>Cascading Stylesheets (*.css)|*.css</DefaultFilter>
							<Enabled>false</Enabled>
							<CommentAttri>(TSynHighlighterAttributes)
								<Foreground>clGray</Foreground>
								<FrameEdges>sfeAround</FrameEdges>
							</CommentAttri>
							<IdentifierAttri>(TSynHighlighterAttributes)
								<FrameEdges>sfeAround</FrameEdges>
							</IdentifierAttri>
							<KeyAttri>(TSynHighlighterAttributes)
								<FrameEdges>sfeAround</FrameEdges>
								<Style>[]</Style>
							</KeyAttri>
							<NumberAttri>(TSynHighlighterAttributes)
								<Foreground>clRed</Foreground>
								<FrameEdges>sfeAround</FrameEdges>
								<Style>[fsBold,fsItalic]</Style>
							</NumberAttri>
							<SpaceAttri>(TSynHighlighterAttributes)
								<FrameEdges>sfeAround</FrameEdges>
							</SpaceAttri>
							<StringAttri>(TSynHighlighterAttributes)
								<Foreground>clGreen</Foreground>
								<FrameEdges>sfeAround</FrameEdges>
								<Style>[fsBold]</Style>
							</StringAttri>
							<SymbolAttri>(TSynHighlighterAttributes)
								<Foreground>clRed</Foreground>
								<FrameEdges>sfeAround</FrameEdges>
								<Style>[fsBold]</Style>
							</SymbolAttri>
						</TSynCssSyn>
					</Components>
					<Highlighter>CSS</Highlighter>
					<FormatterSupport>false</FormatterSupport>
					<FileExtensions>css</FileExtensions>
					<Description>Cascading Style Sheet</Description>
				</THighlighterItem>
				<THighlighterItem Name="DIFF">
					<Components>
						<TSynDiffSyn Name="SynHighlighter">
							<Enabled>false</Enabled>
							<UnknownAttri>(TSynHighlighterAttributes)
								<FrameEdges>sfeAround</FrameEdges>
							</UnknownAttri>
							<SpaceAttri>(TSynHighlighterAttributes)
								<FrameEdges>sfeAround</FrameEdges>
							</SpaceAttri>
							<OrigFileAttri>(TSynHighlighterAttributes)
								<FrameEdges>sfeAround</FrameEdges>
							</OrigFileAttri>
							<NewFileAttri>(TSynHighlighterAttributes)
								<FrameEdges>sfeAround</FrameEdges>
							</NewFileAttri>
							<ChunkMarkerAttri>(TSynHighlighterAttributes)
								<FrameEdges>sfeAround</FrameEdges>
							</ChunkMarkerAttri>
							<ChunkNewAttri>(TSynHighlighterAttributes)
								<FrameEdges>sfeAround</FrameEdges>
							</ChunkNewAttri>
							<ChunkOldAttri>(TSynHighlighterAttributes)
								<FrameEdges>sfeAround</FrameEdges>
							</ChunkOldAttri>
							<ChunkMixedAttri>(TSynHighlighterAttributes)
								<FrameEdges>sfeAround</FrameEdges>
							</ChunkMixedAttri>
							<LineAddedAttri>(TSynHighlighterAttributes)
								<FrameEdges>sfeAround</FrameEdges>
							</LineAddedAttri>
							<LineRemovedAttri>(TSynHighlighterAttributes)
								<FrameEdges>sfeAround</FrameEdges>
							</LineRemovedAttri>
							<LineChangedAttri>(TSynHighlighterAttributes)
								<FrameEdges>sfeAround</FrameEdges>
							</LineChangedAttri>
							<LineContextAttri>(TSynHighlighterAttributes)
								<FrameEdges>sfeAround</FrameEdges>
							</LineContextAttri>
						</TSynDiffSyn>
					</Components>
					<Highlighter>DIFF</Highlighter>
					<FormatterSupport>false</FormatterSupport>
					<FileExtensions>diff</FileExtensions>
					<Description>Verschil</Description>
				</THighlighterItem>
				<THighlighterItem Name="TEX">
					<Components>
						<TSynTeXSyn Name="SynHighlighter">
							<DefaultFilter>TeX Files (*.tex)|*.tex</DefaultFilter>
							<Enabled>false</Enabled>
							<CommentAttri>(TSynHighlighterAttributes)
								<Foreground>clGray</Foreground>
								<FrameEdges>sfeAround</FrameEdges>
								<Style>[,fsItalic]</Style>
							</CommentAttri>
							<TextAttri>(TSynHighlighterAttributes)
								<Foreground>clNone</Foreground>
								<FrameEdges>sfeAround</FrameEdges>
							</TextAttri>
							<ControlSequenceAttri>(TSynHighlighterAttributes)
								<Background>clNone</Background>
								<Foreground>clNone</Foreground>
								<FrameEdges>sfeAround</FrameEdges>
								<Style>[]</Style>
							</ControlSequenceAttri>
							<MathmodeAttri>(TSynHighlighterAttributes)
								<FrameEdges>sfeAround</FrameEdges>
							</MathmodeAttri>
							<SpaceAttri>(TSynHighlighterAttributes)
								<FrameEdges>sfeAround</FrameEdges>
							</SpaceAttri>
							<BraceAttri>(TSynHighlighterAttributes)
								<FrameEdges>sfeAround</FrameEdges>
							</BraceAttri>
							<BracketAttri>(TSynHighlighterAttributes)
								<Foreground>clRed</Foreground>
								<FrameEdges>sfeAround</FrameEdges>
								<Style>[fsBold]</Style>
							</BracketAttri>
						</TSynTeXSyn>
					</Components>
					<Highlighter>TEX</Highlighter>
					<FormatterSupport>false</FormatterSupport>
					<FileExtensions>tex</FileExtensions>
					<Description>TeX</Description>
				</THighlighterItem>
				<THighlighterItem Name="SH">
					<Components>
						<TSynUNIXShellScriptSyn Name="SynHighlighter">
							<DefaultFilter>UNIX Shell Scripts (*.sh)|*.sh</DefaultFilter>
							<Enabled>false</Enabled>
							<CommentAttri>(TSynHighlighterAttributes)
								<Foreground>clGray</Foreground>
								<FrameEdges>sfeAround</FrameEdges>
								<Style>[,fsItalic]</Style>
							</CommentAttri>
							<IdentifierAttri>(TSynHighlighterAttributes)
								<FrameEdges>sfeAround</FrameEdges>
							</IdentifierAttri>
							<KeyAttri>(TSynHighlighterAttributes)
								<Foreground>clBlue</Foreground>
								<FrameEdges>sfeAround</FrameEdges>
							</KeyAttri>
							<SecondKeyAttri>(TSynHighlighterAttributes)
								<Foreground>clBlue</Foreground>
								<FrameEdges>sfeAround</FrameEdges>
								<Style>[fsBold]</Style>
							</SecondKeyAttri>
							<SecondKeyWords>(TStringList)
								<DefinedProperties>
								B1N0cmluZ3MBBgZDRFBBVEgGBkVESVRPUgYESE9NRQYDSUZTBgRMQU5HBgtMQ19NRVNTQUdFUwYH
								TENfVFlQRQYPTERfTElCUkFSWV9QQVRIBgdMT0dOQU1FBgRNQUlMBglNQUlMQ0hFQ0sGCE1BSUxQ
								QVRIBgdNQU5QQVRIBgRQQVRIBgNQUzEGA1BTMgYDUFdEBgZTSEFDQ1QGBVNIRUxMBgpTSExJQl9Q
								QVRIBgRURVJNBgdURVJNQ0FQBgJUWgA=
								</DefinedProperties>
							</SecondKeyWords>
							<NumberAttri>(TSynHighlighterAttributes)
								<Foreground>clRed</Foreground>
								<FrameEdges>sfeAround</FrameEdges>
								<Style>[fsBold,fsItalic]</Style>
							</NumberAttri>
							<SpaceAttri>(TSynHighlighterAttributes)
								<FrameEdges>sfeAround</FrameEdges>
							</SpaceAttri>
							<StringAttri>(TSynHighlighterAttributes)
								<Foreground>clGreen</Foreground>
								<FrameEdges>sfeAround</FrameEdges>
								<Style>[fsBold]</Style>
							</StringAttri>
							<SymbolAttri>(TSynHighlighterAttributes)
								<FrameEdges>sfeAround</FrameEdges>
								<Style>[fsBold]</Style>
							</SymbolAttri>
							<VarAttri>(TSynHighlighterAttributes)
								<Foreground>clNone</Foreground>
								<FrameEdges>sfeAround</FrameEdges>
							</VarAttri>
						</TSynUNIXShellScriptSyn>
					</Components>
					<Highlighter>SH</Highlighter>
					<FormatterSupport>false</FormatterSupport>
					<FileExtensions>sh</FileExtensions>
					<Description>Shell script</Description>
				</THighlighterItem>
				<THighlighterItem Name="LOG">
					<Components>
						<TSynUniSyn Name="SynHighlighter"/>
					</Components>
					<Highlighter>LOG</Highlighter>
					<FormatterSupport>false</FormatterSupport>
					<FileExtensions>log,txt</FileExtensions>
					<Description>Log</Description>
					<LayoutFileName>C:\codetyphon\ts\projects\notepas\notepas.highlighter.log.xml</LayoutFileName>
				</THighlighterItem>
				<THighlighterItem Name="INI">
					<Components>
						<TSynUniSyn Name="SynHighlighter"/>
					</Components>
					<Highlighter>INI</Highlighter>
					<LineCommentTag>;</LineCommentTag>
					<FormatterSupport>false</FormatterSupport>
					<FileExtensions>desktop,fpd,ini,lrt,msg,prop,properties,reg</FileExtensions>
					<Description>Settings file</Description>
					<LayoutFileName>C:\codetyphon\ts\projects\notepas\notepas.highlighter.ini.xml</LayoutFileName>
				</THighlighterItem>
				<THighlighterItem Name="RTF">
					<Components>
						<TSynUniSyn Name="SynHighlighter"/>
					</Components>
					<Highlighter>RTF</Highlighter>
					<FormatterSupport>false</FormatterSupport>
					<FileExtensions>rtf</FileExtensions>
					<Description>Rich Text Format document</Description>
					<LayoutFileName>C:\codetyphon\ts\projects\notepas\notepas.highlighter.rtf.xml</LayoutFileName>
				</THighlighterItem>
				<THighlighterItem Name="RES">
					<Components>
						<TSynUniSyn Name="SynHighlighter"/>
					</Components>
					<Highlighter>RES</Highlighter>
					<LineCommentTag>;</LineCommentTag>
					<FormatterSupport>false</FormatterSupport>
					<FileExtensions>res</FileExtensions>
					<Description>Windows resources</Description>
					<LayoutFileName>C:\codetyphon\ts\projects\notepas\notepas.highlighter.res.xml</LayoutFileName>
				</THighlighterItem>
				<THighlighterItem Name="CS">
					<Components>
						<TSynUniSyn Name="SynHighlighter"/>
					</Components>
					<Highlighter>CS</Highlighter>
					<BlockCommentStartTag>/*</BlockCommentStartTag>
					<BlockCommentEndTag>*/</BlockCommentEndTag>
					<LineCommentTag>//</LineCommentTag>
					<FormatterSupport>false</FormatterSupport>
					<FileExtensions>cs</FileExtensions>
					<Description>C#</Description>
					<LayoutFileName>C:\codetyphon\ts\projects\notepas\notepas.highlighter.cs.xml</LayoutFileName>
				</THighlighterItem>
			</Components>
		</THighlighters>
		<TCodeTags>
			<Components>
				<TCodeTagItem>
					<StartTag>test</StartTag>
					<EndTag>test</EndTag>
				</TCodeTagItem>
			</Components>
		</TCodeTags>
		<TCodeTags>
			<Components>
				<TCodeTagItem>
					<StartTag>test</StartTag>
					<EndTag>test</EndTag>
				</TCodeTagItem>
			</Components>
		</TCodeTags>
		<TCodeTags>
			<Components>
				<TCodeTagItem>
					<StartTag>test</StartTag>
					<EndTag>test</EndTag>
				</TCodeTagItem>
			</Components>
		</TCodeTags>
		<TCodeTags>
			<Components>
				<TCodeTagItem>
					<StartTag>test</StartTag>
					<EndTag>test</EndTag>
				</TCodeTagItem>
			</Components>
		</TCodeTags>
		<TCodeTags>
			<Components>
				<TCodeTagItem>
					<StartTag>test</StartTag>
					<EndTag>test</EndTag>
				</TCodeTagItem>
			</Components>
		</TCodeTags>
		<TCodeTags>
			<Components>
				<TCodeTagItem>
					<StartTag>test</StartTag>
					<EndTag>test</EndTag>
				</TCodeTagItem>
			</Components>
		</TCodeTags>
	</Components>
	<Colors>(TEditorColorSettings)
		<IncrementColor>(TSynSelectedColor)
			<Background>clMedGray</Background>
			<Foreground>clNone</Foreground>
			<FrameEdges>sfeAround</FrameEdges>
			<BackAlpha>128</BackAlpha>
		</IncrementColor>
		<HighlightAllColor>(TSynSelectedColor)
			<Background>33023</Background>
			<Foreground>clNone</Foreground>
			<FrameColor>27607</FrameColor>
			<FrameEdges>sfeAround</FrameEdges>
			<BackAlpha>128</BackAlpha>
		</HighlightAllColor>
		<BracketMatchColor>(TSynSelectedColor)
			<Background>clAqua</Background>
			<Foreground>clNone</Foreground>
			<FrameColor>clBlue</FrameColor>
			<FrameEdges>sfeAround</FrameEdges>
		</BracketMatchColor>
		<MouseLinkColor>(TSynSelectedColor)
			<FrameEdges>sfeAround</FrameEdges>
		</MouseLinkColor>
		<LineHighlightColor>(TSynSelectedColor)
			<Background>clYellow</Background>
			<Foreground>clNone</Foreground>
			<FrameColor>clOlive</FrameColor>
			<FrameStyle>slsDashed</FrameStyle>
			<FrameEdges>sfeAround</FrameEdges>
			<BackAlpha>128</BackAlpha>
			<FrameAlpha>64</FrameAlpha>
		</LineHighlightColor>
		<FoldedCodeColor>(TSynSelectedColor)
			<Background>clSilver</Background>
			<Foreground>clMedGray</Foreground>
			<FrameColor>clMedGray</FrameColor>
			<FrameEdges>sfeAround</FrameEdges>
			<BackAlpha>50</BackAlpha>
		</FoldedCodeColor>
		<SelectedColor>(TSynSelectedColor)
			<Background>clMedGray</Background>
			<Foreground>clNone</Foreground>
			<FrameEdges>sfeAround</FrameEdges>
			<BackAlpha>128</BackAlpha>
		</SelectedColor>
	</Colors>
	<EditorOptions>(TEditorOptionsSettings)
		<BracketHighlightStyle>sbhsLeftOfCursor</BracketHighlightStyle>
	</EditorOptions>
	<HighlighterAttributes>(THighlighterAttributes)
		<THighlighterAttributesItem>
			<Name>Comment</Name>
			<Attributes>(TSynHighlighterAttributes)
				<Foreground>clGray</Foreground>
				<FrameEdges>sfeAround</FrameEdges>
				<Style>[,fsItalic]</Style>
			</Attributes>
			<AliasNames>(TStringList)
				<DefinedProperties>
				B1N0cmluZ3MBBgdDb21tZW50Bg1Eb2N1bWVudGF0aW9uBgtScGwgY29tbWVudAYMU0FTTSBDb21t
				ZW50AA==
				</DefinedProperties>
			</AliasNames>
		</THighlighterAttributesItem>
		<THighlighterAttributesItem>
			<Name>String</Name>
			<Attributes>(TSynHighlighterAttributes)
				<Foreground>clGreen</Foreground>
				<FrameEdges>sfeAround</FrameEdges>
				<Style>[fsBold]</Style>
			</Attributes>
			<AliasNames>(TStringList)
				<DefinedProperties>
				B1N0cmluZ3MBBgZTdHJpbmcA
				</DefinedProperties>
			</AliasNames>
		</THighlighterAttributesItem>
		<THighlighterAttributesItem>
			<Name>Symbol</Name>
			<Attributes>(TSynHighlighterAttributes)
				<Foreground>clRed</Foreground>
				<FrameEdges>sfeAround</FrameEdges>
				<Style>[fsBold]</Style>
			</Attributes>
			<AliasNames>(TStringList)
				<DefinedProperties>
				B1N0cmluZ3MBBghCcmFja2V0cwYNUm91bmQgQnJhY2tldAYOU3F1YXJlIEJyYWNrZXQGBlN5bWJv
				bAA=
				</DefinedProperties>
			</AliasNames>
		</THighlighterAttributesItem>
		<THighlighterAttributesItem>
			<Name>Number</Name>
			<Attributes>(TSynHighlighterAttributes)
				<Foreground>clRed</Foreground>
				<FrameEdges>sfeAround</FrameEdges>
				<Style>[fsBold,fsItalic]</Style>
			</Attributes>
			<AliasNames>(TStringList)
				<DefinedProperties>
				B1N0cmluZ3MBBgZOdW1iZXIA
				</DefinedProperties>
			</AliasNames>
		</THighlighterAttributesItem>
		<THighlighterAttributesItem>
			<Name>Key</Name>
			<Attributes>(TSynHighlighterAttributes)
				<FrameEdges>sfeAround</FrameEdges>
			</Attributes>
			<AliasNames>(TStringList)
				<DefinedProperties>
				B1N0cmluZ3MBBgNLZXkGB1JwbCBrZXkGCFNBU00gS2V5BgtTUUwga2V5d29yZAYQU1FMKlBsdXMg
				Y29tbWFuZAYLVGVYIENvbW1hbmQA
				</DefinedProperties>
			</AliasNames>
		</THighlighterAttributesItem>
		<THighlighterAttributesItem>
			<Name>Float</Name>
			<Attributes>(TSynHighlighterAttributes)
				<Foreground>clFuchsia</Foreground>
				<FrameEdges>sfeAround</FrameEdges>
				<Style>[fsBold,fsItalic]</Style>
			</Attributes>
			<AliasNames>(TStringList)
				<DefinedProperties>
				B1N0cmluZ3MBBgVGbG9hdAA=
				</DefinedProperties>
			</AliasNames>
		</THighlighterAttributesItem>
		<THighlighterAttributesItem>
			<Name>Hexadecimal</Name>
			<Attributes>(TSynHighlighterAttributes)
				<FrameEdges>sfeAround</FrameEdges>
			</Attributes>
			<AliasNames>(TStringList)
				<DefinedProperties>
				B1N0cmluZ3MBBgtIZXhhZGVjaW1hbAA=
				</DefinedProperties>
			</AliasNames>
		</THighlighterAttributesItem>
		<THighlighterAttributesItem>
			<Name>Reserved word</Name>
			<Attributes>(TSynHighlighterAttributes)
				<Foreground>clBlue</Foreground>
				<FrameEdges>sfeAround</FrameEdges>
				<Style>[fsBold]</Style>
			</Attributes>
			<AliasNames>(TStringList)
				<DefinedProperties>
				B1N0cmluZ3MBBg1SZXNlcnZlZCB3b3JkBhZSZXNlcnZlZCB3b3JkIChQTC9TUUwpBhRTZWNvbmQg
				cmVzZXJ2ZWQgd29yZAA=
				</DefinedProperties>
			</AliasNames>
		</THighlighterAttributesItem>
		<THighlighterAttributesItem>
			<Name>Directive</Name>
			<Attributes>(TSynHighlighterAttributes)
				<Foreground>clOlive</Foreground>
				<FrameEdges>sfeAround</FrameEdges>
				<Style>[fsBold]</Style>
			</Attributes>
			<AliasNames>(TStringList)
				<DefinedProperties>
				B1N0cmluZ3MBBg1JREUgRGlyZWN0aXZlBgdJbmNsdWRlBgxQcmVwcm9jZXNzb3IGFlByb2Nlc3Np
				bmcgSW5zdHJ1Y3Rpb24A
				</DefinedProperties>
			</AliasNames>
		</THighlighterAttributesItem>
		<THighlighterAttributesItem>
			<Name>Character</Name>
			<Attributes>(TSynHighlighterAttributes)
				<Foreground>clGreen</Foreground>
				<FrameEdges>sfeAround</FrameEdges>
				<Style>[fsBold,fsItalic]</Style>
			</Attributes>
			<AliasNames>(TStringList)
				<DefinedProperties>
				B1N0cmluZ3MBBglDaGFyYWN0ZXIA
				</DefinedProperties>
			</AliasNames>
		</THighlighterAttributesItem>
		<THighlighterAttributesItem>
			<Name>Variable</Name>
			<Attributes>(TSynHighlighterAttributes)
				<FrameEdges>sfeAround</FrameEdges>
			</Attributes>
			<AliasNames>(TStringList)
				<DefinedProperties>
				B1N0cmluZ3MBBhBTcGVjaWFsIHZhcmlhYmxlAA==
				</DefinedProperties>
			</AliasNames>
		</THighlighterAttributesItem>
		<THighlighterAttributesItem>
			<Name>Null</Name>
			<Attributes>(TSynHighlighterAttributes)
				<FrameEdges>sfeAround</FrameEdges>
			</Attributes>
			<AliasNames>(TStringList)
				<DefinedProperties>
				B1N0cmluZ3MBBgROdWxsAA==
				</DefinedProperties>
			</AliasNames>
		</THighlighterAttributesItem>
		<THighlighterAttributesItem>
			<Name>Operator</Name>
			<Attributes>(TSynHighlighterAttributes)
				<Foreground>clRed</Foreground>
				<FrameEdges>sfeAround</FrameEdges>
				<Style>[fsBold]</Style>
			</Attributes>
			<AliasNames>(TStringList)
				<DefinedProperties>
				B1N0cmluZ3MBBghPcGVyYXRvcgA=
				</DefinedProperties>
			</AliasNames>
		</THighlighterAttributesItem>
		<THighlighterAttributesItem>
			<Name>Attribute Name</Name>
			<Attributes>(TSynHighlighterAttributes)
				<FrameEdges>sfeAround</FrameEdges>
			</Attributes>
			<AliasNames>(TStringList)
				<DefinedProperties>
				B1N0cmluZ3MBBgxFbGVtZW50IE5hbWUGGE5hbWVzcGFjZSBBdHRyaWJ1dGUgTmFtZQA=
				</DefinedProperties>
			</AliasNames>
		</THighlighterAttributesItem>
		<THighlighterAttributesItem>
			<Name>Attribute Value</Name>
			<Attributes>(TSynHighlighterAttributes)
				<FrameEdges>sfeAround</FrameEdges>
			</Attributes>
			<AliasNames>(TStringList)
				<DefinedProperties>
				B1N0cmluZ3MBBgVDREFUQQYHRE9DVFlQRQYZTmFtZXNwYWNlIEF0dHJpYnV0ZSBWYWx1ZQYFVmFs
				dWUA
				</DefinedProperties>
			</AliasNames>
		</THighlighterAttributesItem>
		<THighlighterAttributesItem>
			<Name>Macro</Name>
			<Attributes>(TSynHighlighterAttributes)
				<FrameEdges>sfeAround</FrameEdges>
			</Attributes>
			<AliasNames>(TStringList)
				<DefinedProperties>
				B1N0cmluZ3MBBgZQcmFnbWEA
				</DefinedProperties>
			</AliasNames>
		</THighlighterAttributesItem>
		<THighlighterAttributesItem>
			<Name>Text</Name>
			<Attributes>(TSynHighlighterAttributes)
				<FrameEdges>sfeAround</FrameEdges>
			</Attributes>
			<AliasNames>(TStringList)
				<DefinedProperties>
				B1N0cmluZ3MBBg1FbWJlZGRlZCB0ZXh0BgRUZXh0AA==
				</DefinedProperties>
			</AliasNames>
		</THighlighterAttributesItem>
		<THighlighterAttributesItem>
			<Name>Section</Name>
			<Attributes>(TSynHighlighterAttributes)
				<FrameEdges>sfeAround</FrameEdges>
			</Attributes>
			<AliasNames>(TStringList)
				<DefinedProperties>
				B1N0cmluZ3MBBgNBc3AGDUNEQVRBIFNlY3Rpb24GD0RPQ1RZUEUgU2VjdGlvbgYHU2VjdGlvbgA=
				</DefinedProperties>
			</AliasNames>
		</THighlighterAttributesItem>
		<THighlighterAttributesItem>
			<Name>Data type</Name>
			<Attributes>(TSynHighlighterAttributes)
				<FrameEdges>sfeAround</FrameEdges>
			</Attributes>
			<AliasNames>(TStringList)
				<DefinedProperties>
				B1N0cmluZ3MBBglEYXRhIHR5cGUA
				</DefinedProperties>
			</AliasNames>
		</THighlighterAttributesItem>
	</HighlighterAttributes>
	<HighlighterType>TXT</HighlighterType>
	<LanguageCode>en</LanguageCode>
	<FormSettings>(TFormSettings)
		<Left>75</Left>
		<Top>75</Top>
		<Width>1424</Width>
		<Height>819</Height>
		<FormStyle>fsNormal</FormStyle>
		<WindowState>wsNormal</WindowState>
	</FormSettings>
	<EditorFont>(TFont)
		<Height>-13</Height>
		<Name>Courier New</Name>
	</EditorFont>
</TEditorSettings>
